# Basic
numpy==1.24.4
pandas==2.2.1
scipy==1.11.4
scikit-learn==1.3.2

# Visualization
matplotlib==3.8.3
seaborn==0.13.2
plotly==5.20.0

# Audio
librosa==0.10.1
soundfile==0.12.1
soxr==0.3.7

# TDA
giotto-tda==0.6.1

# Statistical Analaysis
statsmodels==0.14.1
pingouin==0.5.4

# Jupyter 
jupyter==1.0.0
ipykernel==6.29.3
ipywidgets==8.1.1

# etc
tqdm==4.66.2